.advantages {
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 22px;

  @media only all and (min-width: 768px) {
    padding-left: 30px;
  }
}

.advantages__caption {
  @include oswald(400);
  font-size: 36px;
  line-height: 40px;
  margin: 0;
  margin-top: 27px;
  margin-bottom: 38px;

  @media only all and (min-width: 768px) {
    font-size: 60px;
    line-height: 60px;
    margin-top: 44px;
    margin-bottom: 0;
  }
}

.advantages__list {
  list-style-type: none;
  padding: 0;

  @media only all and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    margin-top: 72px;
    counter-reset: number;
  }
}

.advantages__item {
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  margin: 0;
  margin-bottom: 20px;

  &::before {
    content: "";
    display: block;
    width: 60px;
    height: 60px;
    flex-shrink: 0;
    margin: 0;
    margin-right: 20px;
    background-color: $basic_green;
    background-position: center;
    background-repeat: no-repeat;
  }

  @media only all and (min-width: 768px) {
    flex-wrap: wrap;
    flex-direction: column;
    padding: 0;
    margin: 0;
    width: 300px;
    margin-right: 34px;
    margin-bottom: 133px;

    &::before {
      width: 80px;
      height: 80px;
    }

    &::after {
      @include oswald(400);
      counter-increment: number;
      content: counter(number);
      position: absolute;
      z-index: -1;
      color: $basic_grey;
      font-size: 280px;
      width: 142px;
      line-height: 200px;
      right: 50px;
      top: 0px;
      text-align: center;
    }
  }
}

.advantages__item--leaf {
  &::before {
    background-image: url("../img/advantage-leaf@1x.png");
  }
}

.advantages__item--flask {
  &::before {
    background-image: url("../img/advantage-powder@1x.png");
  }
}

.advantages__item--fork {
  &::before {
    background-image: url("../img/advantage-dining@1x.png");
  }
}

.advantages__item--clock {
  &::before {
    background-image: url("../img/advantage-clock@1x.png");
  }
}

.advantages__text {
  @include arial(400);
  padding-top: 2px;
  font-size: 14px;
  line-height: 18px;

  @media only all and (min-width: 768px) {
    font-size: 16px;
    line-height: 24px;
    margin-top: 30px;
    max-width: 88%;
  }
}
