.button {
  @include oswald(400);
  display: block;
  min-width: 280px;
  max-width: 87%;
  margin: auto;
  padding: 11px 0;
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  text-transform: uppercase;
  background-color: $basic_green;
  text-decoration: none;
  border: none;
}

.button--form {
  display: block;
  margin: auto;
  margin-top: 13px;
  padding-top: 11px;
  padding-bottom: 9px;
  font-size: 16px;
  line-height: 20px;
}
