.button {
  @include oswald(400);
  min-width: 280px;
  padding: 9px 73px;
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  text-transform: uppercase;
  background-color: $basic_green;
  text-decoration: none;
}
