.example {
  background-color: $basic_grey-3;
  padding-bottom: 31px;

  @media only all and (min-width: 768px) {
    margin: 0;
    margin-top: -53px;
    padding-bottom: 64px;
    border-top: 1px solid $basic_grey;
    background: linear-gradient(to bottom, $white 57%, $basic_grey-3 57%);
  }

  @media only all and (min-width: 1440px) {
    
  }
}

.example__wrapper {
  padding-left: 20px;
  padding-right: 21px;
  padding-top: 27px;

  @media only all and (min-width: 768px) {
    padding: 0;
    padding-top: 43px;
    padding-left: 30px;
    padding-right: 30px;
  }
}

.example__caption {
  @include oswald(400);
  font-size: 36px;
  line-height: 40px;
  margin: 0;
  margin-bottom: 33px;

  @media only all and (min-width: 768px) {
    font-size: 60px;
    line-height: 60px;
  }
}

.example__description {
  @include arial(400);
  margin: 0;
  margin-bottom: 9px;
  color: $special_dark_grey;
  font-size: 14px;
  line-height: 18px;

  @media only all and (min-width: 768px) {
    font-size: 16px;
    line-height: 24px;
    padding-right: 10px;
    margin-top: 64px;
    margin-bottom: 37px;
  }
}

.example__caption--middle {
  @include oswald(400);
  margin: 0;
  margin-top: 22px;
  margin-bottom: 34px;
  font-size: 14px;
  line-height: 12px;
  text-transform: uppercase;
  text-align: center;

  @media only all and (min-width: 768px) {
    width: 180px;
    text-align: right;
    margin: 0;
    margin-top: 24px;
    font-size: 20px;
    line-height: 28px;
  }
}

.example__stats {
  @media only all and (min-width: 768px) {
    display: flex;
    justify-content: space-between;
  }
}

.example__compare {
  padding-top: 4px;
  text-align: center;

  @media only all and (min-width: 768px) {
    position: relative;
    padding-top: 69px;
    padding-left: 44px;
    height: 575px;
  }
}

.example__picture {
  @media only all and (min-width: 768px) {
    width: 690px;
  }
}

.example__picture--before {
  @media only all and (min-width: 768px) {
    position: absolute;
    display: block;
    clip: rect(auto, 345px, auto, auto);
  }
}

.example__picture--after {
  display: none;

  @media only all and (min-width: 768px) {
    position: absolute;
    top: 70px;
    display: block;
    clip: rect(auto, auto, auto, 345px);
  }
}
