.example {
  background-color: $basic_grey-3;
  padding-bottom: 31px;
  padding-top: 27px;

  @media (min-width: $tablet) {
    margin: 0;
    margin-top: -53px;
    padding-top: 42px;
    padding-bottom: 64px;
    border-top: 1px solid $basic_grey;
    background: linear-gradient(to bottom, $white 57%, $basic_grey-3 57%);
  }

  @media (min-width: $desktop) {
    margin-top: 0;
    border: none;
    background: linear-gradient(to bottom, #ffffff 31%, #eaeaea 31%);
  }
}

.example__caption-wrapper {
  @media (min-width: $desktop) {
    max-width: 1440px;
    margin: auto;
  }
}

.example__caption {
  @include oswald(400);
  font-size: 36px;
  line-height: 40px;
  margin: 0;
  margin-bottom: 6px;
  margin-left: 20px;

  @media (min-width: $tablet) {
    font-size: 60px;
    line-height: 60px;
    margin-left: 30px;
    margin-bottom: 0;
  }

  @media (min-width: $desktop) {
    margin-left: 111px;
    margin-top: 33px;
    max-width: 1440px;
  }
}

.example__wrapper-desktop {
  @media (min-width: $desktop) {
    position: relative;
    display: flex;
    padding-left: 110px;
    padding-right: 103px;
    padding-bottom: 8px;
    max-width: 1440px;
    margin: auto;
  }
}

.example__wrapper {
  padding-left: 20px;
  padding-right: 21px;
  padding-top: 27px;

  @media (min-width: $tablet) {
    padding: 0;
    padding-top: 43px;
    padding-left: 30px;
    padding-right: 30px;
  }

  @media (min-width: $desktop) {
    padding: 0;
    padding-top: 125px;
    width: 436px;
  }
}

.example__description {
  @include arial(400);
  margin: 0;
  margin-bottom: 9px;
  color: $special_dark_grey;
  font-size: 14px;
  line-height: 18px;

  @media (min-width: $tablet) {
    font-size: 16px;
    line-height: 24px;
    padding-right: 10px;
    margin-top: 22px;
    margin-bottom: 37px;
  }

  @media (min-width: $desktop) {
    padding: 0;
    margin-bottom: 52px;
  }
}

.example__caption--middle {
  @include oswald(400);
  margin: 0;
  margin-top: 22px;
  margin-bottom: 34px;
  font-size: 14px;
  line-height: 12px;
  text-transform: uppercase;
  text-align: center;

  @media (min-width: $tablet) {
    width: 180px;
    text-align: right;
    margin: 0;
    margin-top: 24px;
    font-size: 20px;
    line-height: 28px;
  }

  @media (min-width: $desktop) {
    width: 75%;
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
  }
}

.example__stats {
  @media (min-width: $tablet) {
    display: flex;
    justify-content: space-between;
  }

  @media (min-width: $desktop) {
    display: block;
  }
}

.example__compare {
  padding-top: 4px;
  text-align: center;

  @media (min-width: $tablet) {
    position: relative;
    padding-top: 69px;
    padding-left: 44px;
    height: 575px;
  }

  @media (min-width: $desktop) {
    width: 690px;
    padding: 0;
    height: auto;
    bottom: 112px;
    left: 137px;
  }
}

.example__picture {
  @media (min-width: $tablet) {
    width: 690px;
  }
}

.example__picture--before {
  @media (min-width: $tablet) {
    position: absolute;
    display: block;
    clip: rect(auto, 340px, auto, auto);
  }

  @media (min-width: $desktop) {
    position: absolute;
    display: block;
    clip: rect(auto, 365px, auto, auto);
  }
}

.example__picture--after {
  display: none;

  @media (min-width: $tablet) {
    position: absolute;
    top: 69px;
    left: 45px;
    display: block;
    clip: rect(auto, auto, auto, 340px);
  }

  @media (min-width: $desktop) {
    position: absolute;
    top: -2px;
    left: 0;
    display: block;
    clip: rect(auto, auto, auto, 365px);
  }
}
