.footer {
  background-color: $basic_grey;

  @media (min-width: $desktop) {
    position: relative;
  }
}

.footer__box {
  padding-top: 40px;
  padding-right: 20px;
  padding-left: 20px;
  padding-bottom: 15px;

  @media (min-width: $tablet) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 50px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 50px;
  }

  @media (min-width: $desktop) {
    max-width: 1440px;
    margin: auto;
    padding-top: 53px;
    padding-left: 111px;
    padding-right: 109px;
  }
}

.footer__logo {
  padding-bottom: 28px;
  border-bottom: 1px solid $basic_grey-2;
  display: block;
  text-align: center;

  @media (min-width: $tablet) {
    padding: 0;
    border: none;
  }
}

.footer__link {
  display: block;
  text-align: center;
}

.footer__img {
  &:hover {
    opacity: 0.8;
    fill: $basic_green;
  }

  &:active {
    fill: $basic_green;
    opacity: 0.3;
  }
}

.footer__social {
  list-style-type: none;
  padding: 0;
}

.footer__copyright {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid $basic_grey-2;
  padding-top: 18px;

  @media (min-width: $tablet) {
    width: 164px;
    border: none;
    padding: 0;
  }
}

.footer__text {
  @include arial(400);
  font-size: 16px;
  line-height: 18px;
  color: $special_dark-grey;
}

.footer__link--margin {
  margin: 0;
  margin-right: -6px;
}
