.form {
  margin: 0;
  margin-bottom: 31px;

  @media (min-width: $tablet) {
    margin-bottom: 73px;
  }

  @media (min-width: $desktop) {
    margin-bottom: 83px;
  }
}

.form__fieldset-wrapper {
  @media (min-width: $desktop) {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: row;
    max-width: 1440px;
    padding-left: 111px;
    padding-right: 111px;
    padding-top: 50px;
    margin: auto;
  }
}

.form__box {
  position: relative;
  border: none;
  padding: 0;
  padding-top: 27px;
  padding-bottom: 0;
  padding-left: 20px;
  margin: 0;

  @media (min-width: $tablet) {
    padding-top: 48px;
    padding-left: 0;
  }

  @media (min-width: $desktop) {
    padding: 0;
  }
}

.form__box--border {
  border-bottom: 1px solid $special_grey-2;
  padding-top: 25px;
  padding-bottom: 22px;

  @media (min-width: $tablet) {
    padding-top: 48px;
    border-bottom: none;
  }

  @media (min-width: $desktop) {
    padding-top: 0;

    &:nth-child(1) {
      width: 46.7%;
    }

    &:nth-child(2) {
      width: 46.7%;
    }
  }
}

.form__box--comment {
  @media (min-width: $tablet) {
    padding-top: 38px;
  }

  @media (min-width: $desktop) {
    & label {
      max-width: 1440px;
      margin: auto;
    }
  }
}

.form__box--option {
  @media (min-width: $tablet) {
    padding-top: 38px;
  }
}

.form__box--radio {
  padding-top: 20px;

  @media (min-width: $tablet) {
    border: 1px solid $input_gray;
    margin-top: 50px;
    margin-left: 9.3%;
    margin-right: 8.7%;
    padding-top: 23px;
    padding-bottom: 25px;
    padding-left: 27px;
    padding-right: 27px;
  }

  @media (min-width: $desktop) {
    margin-top: 2px;
    margin-left: 0;
    margin-right: 0;
  }
}

.form__box--line {
  &::before {
    content: "";
    position: absolute;
    top: 41px;
    right: 0;
    z-index: -1;
    width: 90%;
    height: 2px;
    background-color: #68b738;
  }

  &.form__box--comment {
    &::before {
      top: 40px;
    }
  }

  &.form__box--option {
    &::before {
      top: 42px;
    }
  }

  @media (min-width: $tablet) {
    &::before {
      width: 100%;
      top: 97px;
      right: 0;
    }

    &.form__box--comment {
      &::before {
        top: 87px;
      }
    }

    &.form__box--option {
      &::before {
        top: 87px;
      }
    }
  }

  @media (min-width: $desktop) {
    padding-top: 46px;
    padding-left: 71px;
    padding-bottom: 3px;

    &::before {
      top: 68px;
    }

    &.form__box--comment {
      &::before {
        top: 69px;
      }
    }

    &.form__box--option {
      &::before {
        top: 68px;
      }
    }
  }
}

.form__contact-wrapper {
  @media (min-width: $desktop) {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    padding-top: 74px;
    padding-left: 41px;
    padding-right: 112px;
    max-width: 1440px;
    margin: auto;

    & label {
      width: 569px;
      padding: 0;
      margin-right: 1px;
    }
  }
}

.form__option-wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;

  @media (min-width: $tablet) {
    padding-left: 70px;
  }

  @media (min-width: $desktop) {
    padding-left: 40px;
    max-width: 1440px;
    margin: auto;
  }
}

.form__label {
  position: relative;
  display: flex;
  justify-content: flex-start;
  width: 100%;
  padding-right: 20px;
  margin: 0;
  margin-bottom: 14px;

  &:last-child {
    margin-bottom: 0;
  }

  @media (min-width: $tablet) {
    padding-top: 3px;
    margin-bottom: 17px;
    padding-right: 66px;
    padding-left: 70px;
  }

  @media (min-width: $desktop) {
    padding: 0;
    padding-top: 3px;
  }
}

.form__label--radio {
  position: relative;
  padding: 0;
  align-items: center;
  margin: 0;
  margin-bottom: 13px;

  &:last-child {
    margin-bottom: 0;
  }

  &:hover {
    &::before {
      border: 1px solid $radio_gray;
    }
  }

  &:active {
    opacity: 0.3;
  }

  &::before {
    content: "";
    display: block;
    border: 1px solid $input_gray;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin: 0;
    margin-right: 15px;
  }

  @media (min-width: $tablet) {
    &::before {
      width: 40px;
      height: 40px;
      margin-right: 19px;
    }
  }
}

.form__name {
  @include oswald(400);
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  margin: 0;
  margin-right: 14px;
  padding-top: 13px;

  @media (min-width: $tablet) {
    padding-top: 10px;
    font-size: 20px;
    line-height: 30px;
    margin-right: 16px;

    &--margin {
      margin-right: 24px;
    }
  }
}

.form__icon {
  position: absolute;
  right: 36px;
  top: 15px;

  &--phone {
    top: 12px;
    right: 33px;
  }

  @media (min-width: $tablet) {
    top: 22px;
    right: 84px;
  }

  @media (min-width: $desktop) {
    top: 18px;
    right: 20px;

    &--phone {
      top: 15px;
      right: 14px;
    }
  }
}

.form__input-text {
  @include oswald(400);
  color: $special_dark_grey;
  border: 1px solid $input_gray;
  flex-grow: 1;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  padding-top: 13px;
  padding-left: 13px;
  padding-bottom: 12px;

  &:hover {
    border: 1px solid $special_grey;
  }

  &:active {
    outline: 2px solid $black;
  }

  &:invalid {
    outline: 2px solid $status_error;
  }

  @media (min-width: $tablet) {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 18px;
    padding-right: 18px;
    font-size: 20px;
    line-height: 30px;
  }
}

.form__name--radio {
  padding-top: 1px;
}

.form__input--radio {

  &:checked + .form__label--radio::after {
    content: "";
    position: absolute;
    display: block;
    width: 13px;
    height: 13px;
    background-color: $basic_green;
    border-radius: 50%;
    top: 8px;
    left: 9px;
  }

  &:focus + .form__label--radio::before {
    outline: 1px solid red;
  }

  @media (min-width: $tablet) {
    &:checked + .form__label--radio::after {
      width: 18px;
      height: 18px;
      top: 12px;
      left: 11px;
    }
  }
}

.form__caption-wrapper {
  @media (min-width: $desktop) {
    max-width: 1440px;
    margin: auto;
  }
}

.form__caption {
  @include oswald(400);
  background-color: $white;
  display: inline-block;
  margin: 0;
  margin-bottom: 32px;
  padding-right: 20px;
  font-size: 24px;
  line-height: 26px;

  @media (min-width: $tablet) {
    margin-top: 26px;
    font-size: 36px;
    line-height: 36px;
    margin-left: 30px;
    margin-bottom: 74px;
    padding-left: 39px;
    padding-right: 41px;

    br {
      display: none;
    }
  }

  @media (min-width: $desktop) {
    max-width: 1440px;
    margin: 0;
  }
}

.form__caption--option {
  margin-bottom: 34px;

  @media (min-width: $tablet) {
    margin-bottom: 55px;
  }

  @media (min-width: $desktop) {
    margin-bottom: 54px;
  }
}

.form__input-text--comment {
  width: 100%;
  height: 150px;
  resize: vertical;

  @media (min-width: $tablet) {
    height: 174px;
  }

  @media (min-width: $desktop) {
    margin-left: 39px;
    margin-top: 72px;
    margin-right: 110px;
    margin-bottom: 19px;
  }
}

.form__label--checkbox {
  margin: 0;
  margin-bottom: 12px;

  &:hover {
    &::before {
      border: 1px solid $radio_gray;
    }
  }

  &::before {
    content: "";
    width: 30px;
    height: 30px;
    margin: 0;
    margin-right: 15px;
    border: 1px solid $special_grey;
  }

  @media (min-width: $tablet) {
    width: 49.3%;
    padding-left: 0;
    margin-bottom: 29px;

    &::before {
      width: 40px;
      height: 40px;
      margin-right: 18px;
      padding: 0;
    }
  }

  @media (min-width: $desktop) {
    width: 24.4%;
  }
}

.form__input--checkbox {
  &:checked + .form__label--checkbox::before {
    content: "";
    background-image: url("../../img/icon-tick.svg");
    background-repeat: no-repeat;
    background-size: 20px 20px;
    background-position: center;
  }

  &:focus + .form__label--checkbox::before {
    outline: 1px solid red;
  }
}

.form__name--option {
  padding: 0;
  padding-top: 6px;

  &:active {
    opacity: 0.3;
  }
}

.form__button-wrapper {
  padding-top: 22px;

  @media (min-width: $tablet) {
    display: flex;
    width: 81%;
    margin: auto;
    justify-content: flex-start;
    align-items: flex-start;
    padding-top: 9px;
  }

  @media (min-width: $tablet) {
    width: 100%;
    max-width: 1440px;
    padding-top: 24px;
    padding-left: 111px;
    margin: auto;
  }
}

.form__button {
  display: block;
  margin: auto;
  margin-top: 13px;
  padding-top: 11px;
  padding-bottom: 9px;
  font-size: 16px;
  line-height: 20px;

  @media (min-width: $tablet) {
    font-size: 20px;
    padding-top: 17px;
    padding-bottom: 15px;
    margin: 0;
    margin-top: 4px;
  }

  @media (min-width: $tablet) {
    width: 568px;
  }
}

.form__info-text {
  @include arial(400);
  font-size: 14px;
  line-height: 16px;
  display: block;
  text-align: center;
  margin: 0;
  margin-top: 21px;

  @media (min-width: $tablet) {
    margin-left: 61px;
    font-size: 16px;
    line-height: 16px;
  }

  @media (min-width: $tablet) {
    margin-left: 82px;
    padding-top: 2px;
  }
}
