.form {
  margin: 0;
  margin-bottom: 31px;

  @media (min-width: $tablet) {
    margin-bottom: 73px;
  }
}

.form__box {
  position: relative;
  border: none;
  padding: 0;
  padding-top: 25px;
  padding-left: 20px;
  padding-bottom: 22px;
  margin: 0;

  @media (min-width: $tablet) {
    padding-top: 48px;
    padding-left: 0;
  }
}

.form__box--border {
  border-bottom: 1px solid $special_grey-2;

  @media (min-width: $tablet) {
    border-bottom: none;
  }
}

.form__box--comment {
  padding-top: 6px;

  @media (min-width: $tablet) {
    padding-top: 16px;
  }
}

.form__box--option {
  padding-top: 6px;

  @media (min-width: $tablet) {
    padding-top: 16px;
    padding-bottom: 12px;
  }
}

.form__label {
  position: relative;
  display: flex;
  justify-content: flex-start;
  width: 100%;
  padding-right: 20px;
  margin: 0;
  margin-bottom: 14px;

  &:last-child {
    margin-bottom: 0;
  }

  @media (min-width: $tablet) {
    padding-top: 3px;
    margin-bottom: 17px;
    padding-right: 66px;
    padding-left: 70px;
  }
}

.form__name {
  @include oswald(400);
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  margin: 0;
  margin-right: 14px;
  padding-top: 13px;

  @media (min-width: $tablet) {
    padding-top: 10px;
    font-size: 20px;
    line-height: 30px;
    margin-right: 16px;

    &--margin {
      margin-right: 24px;
    }
  }
}

.form__icon {
  position: absolute;
  right: 36px;
  top: 15px;

  &--phone {
    top: 12px;
    right: 33px;
  }

  @media (min-width: $tablet) {
    top: 22px;
    right: 84px;

  }
}

.form__input-text {
  @include oswald(400);
  color: $special_dark_grey;
  border: 1px solid $input_gray;
  flex-grow: 1;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  padding-top: 13px;
  padding-left: 13px;
  padding-bottom: 12px;

  @media (min-width: $tablet) {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 18px;
    padding-right: 18px;
    font-size: 20px;
    line-height: 30px;
  }
}

.form__box--radio {
  padding-top: 20px;

  @media (min-width: $tablet) {
    border: 1px solid $input_gray;
    margin-top: 50px;
    margin-left: 9.3%;
    margin-right: 8.7%;
    padding-top: 23px;
    padding-bottom: 25px;
    padding-left: 27px;
    padding-right: 27px;
  }
}

.form__label--radio {
  position: relative;
  padding: 0;
  align-items: center;
  margin: 0;
  margin-bottom: 13px;

  &:last-child {
    margin-bottom: 0;
  }

  &::before {
    content: "";
    display: block;
    border: 1px solid $input_gray;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin: 0;
    margin-right: 15px;
  }

  @media (min-width: $tablet) {
    &::before {
      width: 40px;
      height: 40px;
      margin-right: 19px;
    }
  }
}

.form__name--radio {
  padding-top: 1px;
}

.form__input--radio {
  display: none;

  &:checked + .form__label--radio::after {
    content: "";
    position: absolute;
    display: block;
    width: 13px;
    height: 13px;
    background-color: $basic_green;
    border-radius: 50%;
    top: 8px;
    left: 9px;
  }

  @media (min-width: $tablet) {
    &:checked + .form__label--radio::after {
      width: 18px;
      height: 18px;
      top: 12px;
      left: 11px;
    }
  }
}

.form__wrapper {
  position: relative;

  &::before {
    content: "";
    display: block;
    position: absolute;
    top: 15px;
    right: 0;
    z-index: -1;
    width: 100%;
    height: 2px;
    background-color: #68b738;
  }

  @media (min-width: $tablet) {
    &::before {
      top: 49px;
    }
  }
}

.form__caption {
  @include oswald(400);
  background-color: $white;
  display: inline-block;
  margin: 0;
  margin-bottom: 32px;
  padding-right: 20px;
  font-size: 24px;
  line-height: 26px;

  @media (min-width: $tablet) {
    margin-top: 26px;
    font-size: 36px;
    line-height: 36px;
    margin-left: 30px;
    margin-bottom: 74px;
    padding-left: 39px;
    padding-right: 41px;

    br {
      display: none;
    }
  }
}

.form__caption--option {
  margin-bottom: 34px;

  @media (min-width: $tablet) {
    margin-bottom: 55px;
  }
}

.form__option-wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;

  @media (min-width: $tablet) {
    padding-left: 70px;
  }
}

.form__input-text--comment {
  width: 100%;
  height: 150px;
  resize: vertical;

  @media (min-width: $tablet) {
    height: 174px;
  }
}

.form__label--checkbox {
  margin: 0;
  margin-bottom: 12px;

  &::before {
    content: "";
    width: 30px;
    height: 30px;
    margin: 0;
    margin-right: 15px;
    border: 1px solid $special_grey;
  }

  @media (min-width: $tablet) {
    width: 49.3%;
    padding-left: 0;
    margin-bottom: 29px;

    &::before {
      width: 40px;
      height: 40px;
      margin-right: 18px;
      padding: 0;
    }
  }
}

.form__input--checkbox {
  display: none;

  &:checked + .form__label--checkbox::before {
    content: "";
    background-image: url("../../img/icon-tick.svg");
    background-repeat: no-repeat;
    background-size: 20px 20px;
    background-position: center;
  }
}

.form__name--option {
  padding: 0;
  padding-top: 6px;
}

.form__button-wrapper {

  @media (min-width: $tablet) {
    display: flex;
    width: 81%;
    margin: auto;
    justify-content: flex-start;
    align-items: flex-start;
    padding-top: 9px;
  }
}

.form__button {
  display: block;
  margin: auto;
  margin-top: 13px;
  padding-top: 11px;
  padding-bottom: 9px;
  font-size: 16px;
  line-height: 20px;

  @media (min-width: $tablet) {
    font-size: 20px;
    padding-top: 17px;
    padding-bottom: 15px;
    margin: 0;
    margin-top: 4px;
  }
}

.form__info-text {
  @include arial(400);
  font-size: 14px;
  line-height: 16px;
  display: block;
  text-align: center;
  margin: 0;
  margin-top: 21px;

  @media (min-width: $tablet) {
    margin-left: 61px;
    font-size: 16px;
    line-height: 16px;
  }
}
