.header {
  padding-top: 11px;
  padding-right: 20px;
  padding-left: 20px;
  padding-bottom: 13px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.test {
  width: 320px;
  margin: auto;
  outline: 1px solid red;
}
