.header {
  padding-top: 11px;
  position: relative;

  @media only screen and (min-width: 768px) {
    padding-top: 24px;
    padding-left: 31px;
    padding-right: 30px;
    padding-bottom: 10px;
    display: flex;
  }
}

.header__link {
  height: 43px;
  padding-right: 20px;
  padding-left: 20px;

  @media only screen and (min-width: 768px) {
    width: 30%;
    padding: 0;

    & img {
      width: 172px;
    }
  }
}
