.header {
  padding-top: 11px;
  position: relative;
  max-width: 1440px;
  margin: auto;

  @media (min-width: $tablet) {
    padding-top: 24px;
    padding-left: 31px;
    padding-right: 30px;
    padding-bottom: 10px;
    display: flex;
  }

  @media (min-width: $desktop) {
    padding: 0;
    padding-top: 52px;
  }
}

.header__link {
  height: 43px;
  padding-right: 20px;
  padding-left: 20px;

  @media (min-width: $tablet) {
    width: 30%;
    padding: 0;

    & img {
      width: 172px;
    }
  }

  @media (min-width: $desktop) {
    width: 50%;
    padding-left: 111px;

    & img {
      width: 200px;
    }
  }
}
