.main {
  @media (min-width: $desktop) {
    &::before {
      content: "";
      display: block;
      width: 50%;
      position: absolute;
      z-index: -1;
      top: 0;
      right: 0;
      min-width: 720px;
      min-height: 696px;
      padding: 0;
      margin: 0;
      background-color: $green_background;
      background-image: url("../img/index-background-desktop@1x.jpg");
      background-size: auto 697px;
      background-repeat: no-repeat;
      background-position-x: right;
    }
  }

  @media (min-resolution: 2dppx) {
    &::before {
      background-image: url("../img/index-background-desktop@2x.jpg");
    }
  }
}
