.nav {
  padding-top: 12px;

  @media only all and (min-width: 768px) {
    padding-top: 0;
    width: 70%;
  }
}

.nav__toggle {
  background: none;
  border: none;
  width: 24px;
  height: 18px;
  padding: 0;
  cursor: pointer;
  position: absolute;
  right: 20px;
  top: 23px;

  @media only all and (min-width: 768px) {
    display: none;
  }
}

.nav__list {
  display: none;
  flex-direction: column;
  list-style-type: none;
  padding: 0;
  margin: 0;

  @media only all and (min-width: 768px) {
    display: flex;
    flex-direction: row;
    padding-top: 18px;
    margin-left: 57px;
  }
}

.nav__list--active {
  display: block;
}

.nav__item {
  text-align: center;
  border-top: 1px solid $basic_grey_dark;

  @media only all and (min-width: 768px) {
    border: none;
    margin-right: 34px;

    &:last-child {
      margin-right: 0;
    }
  }
}

.nav__link {
  @include oswald(500);
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  color: $black;
  display: block;
  padding-top: 22px;
  padding-bottom: 23px;

  @media only all and (min-width: 768px) {
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    padding: 0;
  }
}
