.nav {
  padding-top: 12px;

  @media (min-width: $tablet) {
    padding-top: 0;
    width: 70%;
  }

  @media (min-width: $desktop) {
    width: 50%;
    padding-left: 75px;
  }
}

.nav__toggle {
  background: none;
  border: none;
  width: 24px;
  height: 18px;
  padding: 0;
  cursor: pointer;
  position: absolute;
  right: 20px;
  top: 23px;

  @media (min-width: $tablet) {
    display: none;
  }
}

.nav__icon-open {
  &::before {
    content: "";
    display: block;
    width: 24px;
    height: 18px;
    background-image: url("../../img/icon-mobile-menu.svg");
    background-repeat: no-repeat;
  }
}

.nav__icon-close {
  &::before {
    content: "";
    display: block;
    width: 24px;
    height: 18px;
    background-image: url("../../img/icon-close.svg");
    background-repeat: no-repeat;
  }
}

.nav__list {
  display: none;
  flex-direction: column;
  list-style-type: none;
  padding: 0;
  margin: 0;

  @media (min-width: $tablet) {
    display: flex;
    flex-direction: row;
    padding-top: 18px;
    margin-left: 56px;
  }
}

.nav__list--active {
  display: block;
}

.nav__list--no-js {
  display: block;
}

.nav__item {
  text-align: center;
  border-top: 1px solid $basic_grey_dark;

  @media (min-width: $tablet) {
    border: none;
    margin-right: 34px;

    &:last-child {
      margin-right: 0;
    }
  }
}

.nav__link {
  @include oswald(500);
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  color: $black;
  display: block;
  padding-top: 22px;
  padding-bottom: 23px;

  &[href]:hover {
    opacity: 0.6;
  }

  &[href]:active {
    opacity: 0.3;
  }

  @media (min-width: $tablet) {
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    padding: 0;

    &--current {
      border-bottom: 2px solid $basic_green;
      padding-bottom: 8px;
    }
  }

  @media (min-width: $desktop) {
    font-size: 20px;
    line-height: 30px;
    color: $white;

    &--black {
      color: $black;
    }

    &--current {
      border-bottom-color: $white;
      padding-bottom: 5px;
    }

    &--current.nav__link--black {
      border-bottom-color: $basic_green;
      padding-bottom: 5px;
    }
  }
}
