.offer {
  text-align: center;
  position: relative;
  padding-bottom: 22px;

  @media (min-width: $tablet) {
    padding-bottom: 0;
  }

  @media (min-width: $desktop) {
    display: flex;
    min-height: 590px;
    max-width: 1440px;
    margin: auto;
  }
}

.offer__box {
  position: relative;
  padding-top: 28px;
  padding-left: 36px;
  padding-right: 35px;
  padding-bottom: 167px;
  margin: 0;
  margin-bottom: 135px;
  background-image: url("../img/index-background-mobile@1x.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  color: $white;
  text-align: center;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/index-background-mobile@2x.jpg");
  }

  @media (min-width: $tablet) {
    background-image: none;
    text-align: left;
    padding: 0;
    padding-top: 54px;
    padding-left: 117px;
    margin-bottom: 20px;
    color: $black;
  }

  @media (min-width: $desktop) {
    padding: 0;
    padding-left: 191px;
    padding-top: 116px;
  }
}

.offer__caption {
  @include oswald(400);
  font-size: 36px;
  line-height: 36px;
  margin: 0;
  margin-bottom: 25px;

  @media (min-width: $tablet) {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 41px;
    width: 70%;
  }

  @media (min-width: $desktop) {
    width: 60%;
    margin: 0;
    margin-bottom: 41px;
  }
}

.offer__text {
  @include oswald(400);
  margin: 0;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 14px;

  @media (min-width: $tablet) {
    font-size: 20px;
    line-height: 20px;
  }
}

.offer__picture {
  position: absolute;
  bottom: 65px;
  left: 20px;

  @media only all and(min-width: $tablet) {
    position: static;
    width: 709px;
    height: auto;
  }

  @media (min-width: $desktop) {
    position: absolute;
    width: 552px;
    top: 35px;
    left: 558px;
  }
}

.offer__button {
  @media (min-width: $tablet) {
    position: absolute;
    min-width: 244px;
    bottom: 530px;
    left: 112px;
    padding: 27px 0;
    font-size: 20px;
    line-height: 0px;
  }

  @media (min-width: $desktop) {
    bottom: 188px;
    left: 190px;
  }
}
