.other-products {
  padding-top: 3px;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 19px;
    right: 0;
    width: 17%;
    height: 2px;
    z-index: -1;
    background-color: $basic_green;
  }

  @media (min-width: $tablet) {
    padding: 0;

    &::before {
      width: 100%;
      top: 21px;
    }
  }

  @media (min-width: $desktop) {
    padding: 0;
    margin-top: 14px;

    &::before {
      width: 100%;
      top: 23px;
    }
  }
}

.other-products__caption {
  @include oswald(400);
  font-size: 24px;
  line-height: 24px;
  margin: 0;
  margin-bottom: 4px;
  padding-left: 20px;
  background-color: $white;
  display: inline-block;

  @media (min-width: $tablet) {
    font-size: 36px;
    line-height: 36px;
    margin-left: 31px;
    margin-bottom: 63px;
    padding: 0;
    padding-left: 36px;
    padding-right: 36px;
  }

  @media (min-width: $desktop) {
    margin-left: 70px;
    padding-left: 40px;
  }
}

.other-products__wrapper {
  @media (min-width: $desktop) {
    display: grid;
    grid-template-columns: 1040px 1fr;
  }
}

.other-products__list {
  padding: 0;
  padding-top: 15px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 17px;
  list-style-type: none;
  border-bottom: 1px solid $special_grey-2;

  @media (min-width: $tablet) {
    padding: 0;
    padding-left: 30px;
    padding-right: 30px;
    border: none;
  }

  @media (min-width: $desktop) {
    padding-left: 110px;
    width: 100%;
  }
}

.other-products__item {
  margin: 0;
  margin-bottom: 18px;

  &:last-child {
    margin-bottom: 0;
  }

  @media (min-width: $tablet) {
    margin: 0;

    &:last-child {
      border-bottom: 1px solid $special_grey-2;
    }
  }
}
