.product {
  padding-left: 20px;
  padding-right: 20px;
}

.product__box {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.product__img-box {
  width: 50%;
}

.product__info-box {
  width: 50%;
  padding-top: 20px;
}

.product__link {
  text-decoration: none;
}

.product__img {
  display: block;
}

.product__caption {
  @include oswald(400);
  padding-right: 43px;
  margin: 0;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: $special_dark-grey-2;
}

.product__feature {
  @include arial(400);
  width: 100%;
  padding-top: 13px;
  padding-left: 1px;
  font-size: 12px;
  line-height: 16px;
  border-spacing: 0;
  color: $special_dark-grey-2;
}

.product__feature-name {
  padding: 0;
}

.product__feature-value {
  padding: 0;
  text-align: right;
}
