.products__list {
  list-style-type: none;
  padding: 0;
  margin: 0;

  @media (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    padding-left: 30px;
    padding-right: 30px;
  }

  @media (min-width: 1440px) {
    padding-left: 110px;
    padding-right: 110px;
  }
}

.products__item {
  padding-bottom: 24px;
  border-top: 1px solid $special_grey-2;

  @media (min-width: 768px) {
    width: 324px;
    padding: 0;
    border: none;
    margin-bottom: 68px;

    &:nth-last-child(-n+2) {
      margin-bottom: 67px;
    }
  }

  @media (min-width: 1440px) {
    width: 245px;
    margin-bottom: 62px;

    &:nth-last-child(-n+2) {
      margin-bottom: 62px;
    }
  }
}
