.promotion {
  padding-top: 24px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 35px;
}

.promotion__wrapper {
  width: 280px;
  height: 289px;
  margin: 0;
  background-image: url("../../img/gift-photo-mobile@1x.jpg");
  padding-top: 65px;
  padding-bottom: 10px;
}

.promotion__icon {
  display: block;
  margin: auto;
  width: 56px;
  height: 60px;
  fill: $white;
}

.promotion__description {
  @include arial(400);
  display: block;
  width: 161px;
  margin: auto;
  margin-top: 62px;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: $white;
}
