.promotion {
  padding-top: 24px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 33px;

  @media (min-width: $tablet) {
    padding-top: 53px;
    padding-left: 30px;
    padding-right: 31px;
    padding-bottom: 33px;
    margin-bottom: 43px;
  }

  @media (min-width: $desktop) {
    width: auto;
    margin: 0;
    padding: 0;
    padding-top: 17px;
    padding-bottom: 15px;
    padding-left: 45px;
  }
}

.promotion__wrapper {
  width: 100%;
  height: 289px;
  margin: 0;
  background-color: $basic_green;
  background-image: url("../../img/gift-photo-mobile@1x.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  padding-top: 65px;
  padding-bottom: 10px;

  @media (min-resolution: 2dppx) {
    background-image: url("../../img/gift-photo-mobile@2x.jpg");
  }

  @media (min-width: $tablet) {
    width: 100%;
    height: 200px;
    padding-top: 15px;
    background-image: url("../../img/gift-photo-tablet@1x.jpg");
    display: flex;

    @media (min-resolution: 2dppx) {
      background-image: url("../../img/gift-photo-tablet@2x.jpg");
    }
  }

  @media (min-width: $desktop) {
    display: block;
    width: 245px;
    height: 100%;
    background-image: url("../../img/gift-photo-desktop@1x.jpg");
    padding: 0;
    padding-top: 64px;

    @media (min-resolution: 2dppx) {
      background-image: url("../../img/gift-photo-desktop@2x.jpg");
    }
  }
}

.promotion__icon {
  display: block;
  margin: auto;
  width: 56px;
  height: 60px;
  fill: $white;

  @media (min-width: $tablet) {
    margin-top: 50px;
    margin-bottom: 0;
    margin-left: 90px;
    margin-right: 0;
  }

  @media (min-width: $desktop) {
    margin: auto;
  }
}

.promotion__description {
  @include arial(400);
  display: block;
  width: 161px;
  margin: auto;
  margin-top: 62px;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: $white;

  @media (min-width: $tablet) {
    margin: auto;
    margin-right: 123px;
    text-align: left;
  }

  @media (min-width: $desktop) {
    text-align: center;
    margin: auto;
    margin-top: 63px;
  }
}
