.social {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: flex-start;
  border-top: 1px solid $basic_grey-2;
  border-bottom: 1px solid $basic_grey-2;
  margin-top: 28px;
  padding-top: 15px;
  padding-left: 72px;
  padding-bottom: 18px;

  @media only all and (min-width: 768px) {
    margin: 0;
    padding: 0;
    border: none;
    align-items: center;
    margin-left: 18px;
  }
}

.social__item {
  margin: 0;
  margin-right: 38px;

  &:last-child {
    margin-right: 0;
  }

  @media only all and (min-width: 768px) {
    margin-right: 28px;
  }
}

.social__item--vk {
  padding-top: 9px;

  @media only all and (min-width: 768px) {
    padding: 0;

    & img {
      width: 30px;
      height: 32px;
    }
  }
}

.social__item--inst {
  padding-top: 9px;

  @media only all and (min-width: 768px) {
    padding: 0;

    & img {
      width: 23px;
      height: 23px;
    }
  }
}

.social__item--fb {
  padding-top: 6px;

  @media only all and (min-width: 768px) {
    padding: 0;

    & img {
      width: 16px;
      height: 30px;
    }
  }
}
