.social {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: center;
  border-top: 1px solid $basic_grey-2;
  border-bottom: 1px solid $basic_grey-2;
  margin-top: 27px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.social__item {
  margin: 0 18px;
}

.social__item--vk {
  padding-top: 9px;
}

.social__item--inst {
  padding-top: 9px;
}

.social__item--fb {
  padding-top: 6px;
}
