$basic_green: #68b738;
$basic_green-2: #5eaa2f;
$basic_grey: #f2f2f2;
$basic_grey-2: #d9d9d9;
$basic_grey-3: #eaeaea;
$basic_grey_dark: #e6e6e6;
$special_grey: #cdcdcd;
$slider__grey: #dcdcdc;
$shadow: rgba(0, 0, 0, 0.16);
$special_grey-2: #ebebeb;
$special_grey-3: #666666;
$special_dark_grey: #444444;
$special_dark_grey-2: #222222;
$status_error: #ff8282;
$input_gray: #e7e7e7;
$white: #ffffff;
$black: #000000;
$black_light: #111111;

$tablet: 768px;
$desktop: 1440px;
